<a href="https://cognitiveclass.ai/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDL0101ENSkillsNetwork945-2022-01-01"><img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DL0101EN-SkillsNetwork/images/IDSN-logo.png" width="400"> </a>

<h1 align=center><font size = 5>Regression Models with Keras</font></h1>

## Introduction

As we discussed in the videos, despite the popularity of more powerful libraries such as PyToch and TensorFlow, they are not easy to use and have a steep learning curve. So, for people who are just starting to learn deep learning, there is no better library to use other than the Keras library. 

Keras is a high-level API for building deep learning models. It has gained favor for its ease of use and syntactic simplicity facilitating fast development. As you will see in this lab and the other labs in this course, building a very complex deep learning network can be achieved with Keras with only few lines of code. You will appreciate Keras even more, once you learn how to build deep models using PyTorch and TensorFlow in the other courses.

So, in this lab, you will learn how to use the Keras library to build a regression model.

<h2>Regression Models with Keras</h2>

<h3>Objective for this Notebook<h3>    
<h5> 1. How to use the Keras library to build a regression model.</h5>
<h5> 2. Download and Clean dataset </h5>
<h5> 3. Build a Neural Network </h5>
<h5> 4. Train and Test the Network. </h5>

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Download and Clean Dataset</a>  
2. <a href="#item32">Import Keras</a>  
3. <a href="#item33">Build a Neural Network</a>  
4. <a href="#item34">Train and Test the Network</a>  

</font>
</div>

<a id="item31"></a>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
# All Libraries required for this lab are listed below. The libraries pre-installed on Skills Network Labs are commented. 
# If you run this notebook on a different environment, e.g. your desktop, you may need to uncomment and install certain libraries.

#!pip install numpy==1.21.4
#!pip install pandas==1.3.4
#!pip install keras==2.1.6

In [2]:
import pandas as pd
import numpy as np

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [3]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [4]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [7]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [10]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [11]:
n_cols = predictors.shape[1] # number of predictors

<a id="item1"></a>

<a id='item32'></a>

## Import Keras

Recall from the videos that Keras normally runs on top of a low-level library such as TensorFlow. This means that to be able to use the Keras library, you will have to install TensorFlow first and when you import the Keras library, it will be explicitly displayed what backend was used to install the Keras library. In CC Labs, we used TensorFlow as the backend to install Keras, so it should clearly print that when we import Keras.

#### Let's go ahead and import the Keras library

In [12]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [13]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [14]:
# define regression model
def regression_model():
    # create model of one hidden layer having 10 nodes.
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model using adam and mean squared error.
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=30)

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/sklearn/utils/validation.py:37: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  LARGE_SPARSE_SUPPORTED = LooseVersion(scipy_version) >= '0.14.0'

<a id='item34'></a>

## Train and Test the Network

Let's call the function now to create our model.

In [16]:
# build the model
model = regression_model()

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:508: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3837: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/optimizers.py:757: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Next, we will train and test the model at the same time using the *fit* method. We will leave out 30% of the data for validation and we will train the model for 100 epochs.

In [17]:
# fit the model
model.fit(X_train, y_train, epochs=100, verbose=1)

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:977: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:964: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Epoch 1/100

2024-08-08 15:58:09.348733: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
2024-08-08 15:58:09.368122: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2394310000 Hz
2024-08-08 15:58:09.368731: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x55c1b3b64ec0 executing computations on platform Host. Devices:
2024-08-08 15:58:09.368773: I tensorflow/compiler/xla/service/service.cc:175]   StreamExecutor device (0): <undefined>, <undefined>
2024-08-08 15:58:09.507904: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo_profile.

721/721 [==============================] - 0s 556us/step - loss: 1407.9794
Epoch 2/100
721/721 [==============================] - 0s 119us/step - loss: 493.4787
Epoch 3/100
721/721 [==============================] - 0s 130us/step - loss: 418.6118
Epoch 4/100
721/721 [==============================] - 0s 134us/step - loss: 373.5838
Epoch 5/100
721/721 [==============================] - 0s 113us/step - loss: 334.4555
Epoch 6/100
721/721 [==============================] - 0s 112us/step - loss: 306.8808
Epoch 7/100
721/721 [==============================] - 0s 105us/step - loss: 285.9606
Epoch 8/100
721/721 [==============================] - 0s 89us/step - loss: 266.3392
Epoch 9/100
721/721 [==============================] - 0s 102us/step - loss: 253.4918
Epoch 10/100
721/721 [==============================] - 0s 96us/step - loss: 239.9143
Epoch 11/100
721/721 [==============================] - 0s 95us/step - loss: 225.5188
Epoch 12/100
721/721 [==============================] - 0s 85us/step - loss: 214.5835
Epoch 13/100
721/721 [==============================] - 0s 88us/step - loss: 208.4005
Epoch 14/100
721/721 [==============================] - 0s 100us/step - loss: 194.0224
Epoch 15/100
721/721 [==============================] - 0s 87us/step - loss: 181.2150
Epoch 16/100
721/721 [==============================] - 0s 88us/step - loss: 171.7463
Epoch 17/100
721/721 [==============================] - 0s 102us/step - loss: 163.6129
Epoch 18/100
721/721 [==============================] - 0s 85us/step - loss: 154.9528
Epoch 19/100
721/721 [==============================] - 0s 105us/step - loss: 147.4870
Epoch 20/100
721/721 [==============================] - 0s 85us/step - loss: 148.2633
Epoch 21/100
721/721 [==============================] - 0s 88us/step - loss: 134.2139
Epoch 22/100
721/721 [==============================] - 0s 84us/step - loss: 125.9606
Epoch 23/100
721/721 [==============================] - 0s 84us/step - loss: 119.7041
Epoch 24/100
721/721 [==============================] - 0s 87us/step - loss: 116.1612
Epoch 25/100
721/721 [==============================] - 0s 86us/step - loss: 112.1098
Epoch 26/100
721/721 [==============================] - 0s 102us/step - loss: 109.7308
Epoch 27/100
721/721 [==============================] - 0s 88us/step - loss: 106.4466
Epoch 28/100
721/721 [==============================] - 0s 88us/step - loss: 102.1069
Epoch 29/100
721/721 [==============================] - 0s 84us/step - loss: 99.6731
Epoch 30/100
721/721 [==============================] - 0s 87us/step - loss: 98.3410
Epoch 31/100
721/721 [==============================] - 0s 84us/step - loss: 96.6124
Epoch 32/100
721/721 [==============================] - 0s 103us/step - loss: 93.8408
Epoch 33/100
721/721 [==============================] - 0s 87us/step - loss: 95.1258
Epoch 34/100
721/721 [==============================] - 0s 88us/step - loss: 92.1265
Epoch 35/100
721/721 [==============================] - 0s 102us/step - loss: 90.4599
Epoch 36/100
721/721 [==============================] - 0s 85us/step - loss: 89.3691
Epoch 37/100
721/721 [==============================] - 0s 88us/step - loss: 90.2785
Epoch 38/100
721/721 [==============================] - 0s 83us/step - loss: 92.0475
Epoch 39/100
721/721 [==============================] - 0s 85us/step - loss: 87.9493
Epoch 40/100
721/721 [==============================] - 0s 84us/step - loss: 88.8704
Epoch 41/100
721/721 [==============================] - 0s 86us/step - loss: 88.8731
Epoch 42/100
721/721 [==============================] - 0s 101us/step - loss: 89.6344
Epoch 43/100
721/721 [==============================] - 0s 91us/step - loss: 86.8560
Epoch 44/100
721/721 [==============================] - 0s 83us/step - loss: 85.4684
Epoch 45/100
721/721 [==============================] - 0s 110us/step - loss: 87.5143
Epoch 46/100
721/721 [==============================] - 0s 84us/step - loss: 88.5663
Epoch 47/100
721/721 [==============================] - 0s 97us/step - loss: 87.2513
Epoch 48/100
721/721 [==============================] - 0s 85us/step - loss: 85.4525
Epoch 49/100
721/721 [==============================] - 0s 89us/step - loss: 83.2226
Epoch 50/100
721/721 [==============================] - 0s 86us/step - loss: 83.3251
Epoch 51/100
721/721 [==============================] - 0s 69us/step - loss: 83.3550
Epoch 52/100
721/721 [==============================] - 0s 84us/step - loss: 84.6242
Epoch 53/100
721/721 [==============================] - 0s 87us/step - loss: 82.3255
Epoch 54/100
721/721 [==============================] - 0s 86us/step - loss: 82.3644
Epoch 55/100
721/721 [==============================] - 0s 83us/step - loss: 80.6801
Epoch 56/100
721/721 [==============================] - 0s 83us/step - loss: 81.2248
Epoch 57/100
721/721 [==============================] - 0s 69us/step - loss: 81.4103
Epoch 58/100
721/721 [==============================] - 0s 97us/step - loss: 80.5562
Epoch 59/100
721/721 [==============================] - 0s 82us/step - loss: 81.0619
Epoch 60/100
721/721 [==============================] - 0s 82us/step - loss: 80.0680
Epoch 61/100
721/721 [==============================] - 0s 85us/step - loss: 81.7384
Epoch 62/100
721/721 [==============================] - 0s 84us/step - loss: 79.2403
Epoch 63/100
721/721 [==============================] - 0s 87us/step - loss: 77.7524
Epoch 64/100
721/721 [==============================] - 0s 82us/step - loss: 78.0733
Epoch 65/100
721/721 [==============================] - 0s 105us/step - loss: 77.5771
Epoch 66/100
721/721 [==============================] - 0s 85us/step - loss: 75.5761
Epoch 67/100
721/721 [==============================] - 0s 103us/step - loss: 77.3595
Epoch 68/100
721/721 [==============================] - 0s 85us/step - loss: 75.0659
Epoch 69/100
721/721 [==============================] - 0s 88us/step - loss: 75.2849
Epoch 70/100
721/721 [==============================] - 0s 87us/step - loss: 79.3222
Epoch 71/100
721/721 [==============================] - 0s 85us/step - loss: 75.0982
Epoch 72/100
721/721 [==============================] - 0s 104us/step - loss: 74.3475
Epoch 73/100
721/721 [==============================] - 0s 88us/step - loss: 78.1547
Epoch 74/100
721/721 [==============================] - 0s 88us/step - loss: 79.4001
Epoch 75/100
721/721 [==============================] - 0s 151us/step - loss: 74.1942
Epoch 76/100
721/721 [==============================] - 0s 89us/step - loss: 75.6211
Epoch 77/100
721/721 [==============================] - 0s 106us/step - loss: 71.8622
Epoch 78/100
721/721 [==============================] - 0s 94us/step - loss: 69.1288
Epoch 79/100
721/721 [==============================] - 0s 101us/step - loss: 68.8210
Epoch 80/100
721/721 [==============================] - 0s 105us/step - loss: 68.5359
Epoch 81/100
721/721 [==============================] - 0s 87us/step - loss: 68.7801
Epoch 82/100
721/721 [==============================] - 0s 87us/step - loss: 67.0277
Epoch 83/100
721/721 [==============================] - 0s 83us/step - loss: 69.7047
Epoch 84/100
721/721 [==============================] - 0s 80us/step - loss: 69.0530
Epoch 85/100
721/721 [==============================] - 0s 100us/step - loss: 64.7125
Epoch 86/100
721/721 [==============================] - 0s 87us/step - loss: 63.3500
Epoch 87/100
721/721 [==============================] - 0s 85us/step - loss: 64.7574
Epoch 88/100
721/721 [==============================] - 0s 86us/step - loss: 62.1148
Epoch 89/100
721/721 [==============================] - 0s 98us/step - loss: 62.6267
Epoch 90/100
721/721 [==============================] - 0s 87us/step - loss: 63.7741
Epoch 91/100
721/721 [==============================] - 0s 86us/step - loss: 60.3087
Epoch 92/100
721/721 [==============================] - 0s 87us/step - loss: 61.3343
Epoch 93/100
721/721 [==============================] - 0s 90us/step - loss: 67.0324
Epoch 94/100
721/721 [==============================] - 0s 85us/step - loss: 63.4640
Epoch 95/100
721/721 [==============================] - 0s 82us/step - loss: 60.2136
Epoch 96/100
721/721 [==============================] - 0s 103us/step - loss: 64.5042
Epoch 97/100
721/721 [==============================] - 0s 83us/step - loss: 59.4561
Epoch 98/100
721/721 [==============================] - 0s 82us/step - loss: 62.1035
Epoch 99/100
721/721 [==============================] - 0s 84us/step - loss: 59.3993
Epoch 100/100
721/721 [==============================] - 0s 81us/step - loss: 58.7706

In [18]:
# Testing
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 120us/step

78.73208420639286

In [19]:
# Mean Squared Error Calculation
from sklearn.metrics import mean_squared_error
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

78.73208453269362 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [ ]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Mean and Standard Deviation of " +str(total_mean_squared_errors) + " Mean Squared Errors without Normalized Data. Total number of epochs for each training is: " +str(epochs))
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 55.965841361234105
MSE 2: 59.66682742714496
MSE 3: 44.65655757076918
MSE 4: 45.36814954442885
MSE 5: 43.14578976677459
MSE 6: 45.67435978762926
MSE 7: 51.35018555477599
MSE 8: 41.915066857939784
MSE 9: 38.771633592624106
MSE 10: 49.658904658937914
MSE 11: 39.257405685375424
MSE 12: 39.30301919338387
MSE 13: 43.93641062616145
MSE 14: 45.447367239152726
MSE 15: 41.488510489849595
MSE 16: 35.3438784682635
MSE 17: 38.27330291155472
MSE 18: 42.98658909226698
MSE 19: 35.055421255167246
MSE 20: 40.793719770067334
MSE 21: 39.754152563397554
MSE 22: 37.58588805707913
MSE 23: 33.69829822281032
MSE 24: 48.631425505702936
MSE 25: 38.60674004415864
MSE 26: 38.44921191070458
MSE 27: 35.741819227397635
MSE 28: 32.72864455312587
MSE 29: 41.205393646141474
MSE 30: 38.46804201564357
MSE 31: 37.71291136510164
MSE 32: 31.35421124553989
MSE 33: 35.979532606007595
MSE 34: 42.198334147629225
MSE 35: 36.0632447177924
MSE 36: 39.5705192899241
MSE 37: 36.23911562552344
MSE 38: 38.9165433865149
MSE 39: 36.434027909460966
MSE 40: 28.97844917025767
MSE 41: 46.24629516354656
MSE 42: 31.756353865935193
MSE 43: 36.011763131348445
MSE 44: 45.31011587593548
MSE 45: 36.053639149588676